# .gitignore
**/__pycache__/
**/*.pyc


# Volúmenes de bases de datos locales
db_data/
minio_data/
# Configuración de Nginx
nginx_data/
# Configuración de Let's Encrypt
nginx_letsencrypt/
# Archivos de entorno
.env
# Logs
logs/
# Ignorar archivos de configuración específicos
docker-compose.override.yml
